:root {  
    --clr-neutral-0: #ffffff;
    --cir-neutral-50: #f1f3f7;
    --clr-neutral-100: #fafafa;
    --clr-neutral-100-t: #fafafad2;
    --clr-neutral-200: #e1e4ed;
    --clr-neutral-500: #5d5d5d;
    --clr-neutral-900: #1e1e1e;
    --trebuc: "trebuc", sans-serif;
    
}
  